<!DOCTYPE html>
<container>
    <center>
      <img src="https://cosmos-anglo-bronces-entrada.s3.amazonaws.com/email/templates/title-brown.png" , alt="titleImage">
    </center>
  
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #690909;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #690909;
}
</style>
</head>
<body>

<h2>Tabla de neumáticos</h2>

<table>
  <tr>
    <th>Equipo</th>
    <th>ID Neumáticos</th>
    <th>Vida Remanente en días</th>
  </tr>
  <tr>
    <td>CAEX 68</td>
    <td>193504</td>
    <td>46 días</td>
  </tr>
</table>

</body>
</html>

    