{% block content %}
<head>
    <title>Vida Remanente de Neumáticos</title>
</head>

{% endblock %}

{% block body %}
    {% for equipo, id_neumatico, remaining_useful_life in tables %}
        <TABLE>
        <thead>
        <tr>
         <th>Equipo</th>
         <th>ID Neumático</th> 
         <th>Vida Remanente del Activo</th> 
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>{{ equipo }}</td>
          <td>{{ id_neumatico }}</td>
          <td>{{ remaining_useful_life }}</td>
          </tr>
          </tbody>
          </TABLE>

    {% endfor %}

{% endblock %}