<!DOCTYPE html>
<container>
    <left>
      <img src="https://tiresopt-anglo-output.s3.amazonaws.com/alaya.png" , alt="titleImage", width="600" height="200">
    </left>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: solid #690909;
  width: 100%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 30px;
}

tr:nth-child(even) {
  background-color: #6e1919;
}
</style>
</head>
<body>
<center>
<h2>Vida Remanente de Neumáticos</h2>
</center>

<table>
    <tr>
    <th>Equipo</th>
    <th>ID Neumáticos</th>
    <th>Vida Remanente en días</th>
  </tr>
  <tr>
    <td>CAEX 68</td>
    <td>193504</td>
    <td>46 días</td>
  </tr>
  <tr>
    {% for i in range(len(content)) %}
        {% caex = content[i][0] %}
        {% id_neuamtico = content[i][1] %}
        {% vida = content[i][2] %}
        <td>{{caex}}</td>
        <td>{{id_neuamtico}}</td>
        <td>{{vida}}</td>
    {% endfor %}
  </tr>


</table>

</body>
</html>

    